@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.swiper {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
}

.swiper-image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
}

:root {
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Montserrat' , sans-serif;

    /*let corBodyD = '#1d1d1d'
    let corCabecalhoD = '#ffffff'
    let corNomesD = '#28a745'
    let corTextosD = '#ffc107'
    let corExtraD = '#9b59b6'
    */

    --cor-de-fundo:  #1d1d1d;
    --cor-titulos:  #ffffff;
    --cor-nome: #28a745;
    --cor-textos: #ffc107;
    --cor-links: #9b59b6;
    --cor-borda: #333333;

}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    padding: 2% 0% 0% 10%; 
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    gap: 80px;
    font-size: 1.4em;
}

.menu-link {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 0.8em;
    text-decoration: none;
    color: var(--cor-titulos);
    transform: scale(1);
    transition: transform 0.3s ease;
}

.menu-link:hover {
    transform: scale(1.4);
}

.botao-dark-mode {
    border: none;
    background-color: var(--cor-nome);
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em 3em 0 0;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--fonte-secundaria);
    transform: scale(1);
    transition: transform 0.3s ease;
    color: var(--cor-de-fundo);
}

.botao-dark-mode:hover {
    transform: scale(1.1);
    background-color: #a3a3a3;
    color: var(--cor-de-fundo);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.botao-fonte {
    border: none;
    background-color: var(--cor-nome);
    position: absolute;
    top: 0;
    right: 0;
    margin: 5em 5em 0 0;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    transform: scale(1);
    transition: transform 0.3s ease;
    color: var(--cor-de-fundo);
}

.botao-fonte:hover {
    transform: scale(1.1);
    background-color: #a3a3a3;
    color: var(--cor-de-fundo);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.botao-fonte-menos {
    border: none;
    background-color: var(--cor-nome);
    position: absolute;
    top: 0;
    right: 0;
    margin: 5em 3em 0 0;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    transform: scale(1);
    transition: transform 0.3s ease;
    color: var(--cor-de-fundo);
}

.botao-fonte-menos:hover {
    transform: scale(1.1);
    background-color: #a3a3a3;
    color: var(--cor-de-fundo);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.apresentacao-alunos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 2em;
}

.card-main {
    display: flex; 
    justify-content: space-between;
    padding: 5% 15%;
    gap: 22px;
    flex-direction: column;
}

.card-aluno {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nome-aluno {
    font-family: var(--fonte-primaria);
    font-weight: 800;
    color: var(--cor-nome);
    text-align: center;
}

.card-texto {
    color: var(--cor-textos);
    font-family: var(--fonte-secundaria);
    font-weight: 300;
    padding: 7px 0 0 0;
}

.card-imagem {
    width: 80%;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-imagem-foto {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

.card-imagem1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1em;
}

.card-imagem-foto1 {
    width: 90%;
    position: relative;
    right: 1.8em;
    border-radius: 1em;
}

.descricao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: var(--cor-textos);
    font-size: 0.9em;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.card-link:hover {
    text-decoration: underline;
    transform: scale(1.03);
}

.titulo-descricao {
    font-family: var(--fonte-secundaria);
    color: var(--cor-links);
}

.rodape{
    padding: 16px;
    color: var(--cor-de-fundo);
    background-color: var(--cor-links);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    font-weight: 400;
    bottom: 0;
}

.quebra-linha {
    display: none;
}

/*Galeria de imagens*/
.galeria-imagens {
    box-sizing: border-box;
    margin: 3% 10% 5% 18%;
    display: flex;
    flex-direction: row;
    max-width: 100px;
    gap: 130px;
}

.imagens {
    display: flex;
    gap: 140px;
}

.imagens-alt {
    width: auto;
    border: 2px solid var(--cor-links);
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1em;
    margin-bottom: 1em;
}

.imagem-card {
    width: 50vh;
    border-radius: 0.7em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: transform 0.3s ease;
}

.imagem-card:hover {
    transform: scale(1.1);
}

/**/

.texto-galeria {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 1.2em;
    margin: 1em 2em 1em 0;
}

.rodapejs {
    margin-top: 10em;
}

.rodapejss {
    margin-top: 14em;
}

/*Formulário*/

.botao-enviar {
    margin-top: 14px;
    padding: 1em;
    border: none;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-textos);
    color: var(--cor-de-fundo);
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
    margin-bottom: 10em;
}

.botao-enviar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #bc5109;
}

.container {
    margin-top: 1.3em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.inputs {
    padding: 10px;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
}

.container-input {
    width: 28%;
}

.campo-vazio {
    border: 2px solid red;
}

/* ::-webkit-scrollbar {
    width: 7px;   
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--cor-links);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
} */

@media screen and (max-width: 500px) {

    .cabecalho {
        padding: 5% 0 0 0;
    }

    .cabecalho-menu {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        margin-left: 0.7em;
    }

    .botao-dark-mode {
        margin-top: 2em;
        top: 3em;
        margin-right: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .apresentacao-alunos {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 1.8em;
    }

    .card-link {
        text-decoration: underline;
    }

    .quebra-linha {
        display: block;
        border: 1px solid rgb(125, 125, 125);
    }

    .botao-fonte {
        margin-right: 5em;
    }

    .botao-fonte-menos {
        margin-right: 3em;
        padding: 5px;
    }

    .galeria-imagens {
        flex-direction: column;
        justify-content: left;
        position: relative;
        left: -20px;
    }

    .imagens {
        flex-direction: column;
        gap: 17px;
    }

    .imagens-alt {
        width: 40vh;
        margin: 1em 0 0 0;
        position: relative;
        right: 10px;
    }

    .imagem-card {
        width: 40vh;
    }

    .texto-galeria {
        margin: 2em 2em 0 2em;
    }

    .rodape {
        font-size: 0.8em;
    }

    .texto-galeria {
        font-size: 1.5em;
    }

    .swiper {
        width: 300px;
        height: 200px;
    }

    .swiper-image {
        width: 300px;
        height: 200px;
    }

    .container {
        margin-top: 3em;
        margin-bottom: 5em;
    }

    .inputs {
        width: 70%;
    }

    .card-imagem-foto1 {
        right: 0;
    }
}
